* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$customRed: #c12e3a;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #010101;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
